OPENVPN_USER=your_username
OPENVPN_PASS=your_password

PROXY_USER=demo_user
PROXY_PASS=deMo_Passw0rd

# REST API settings
API_HOST=0.0.0.0
API_PORT=8080
API_AUTH_ENABLED=0
API_USER=api_user
API_PASS=api_Passw0rd
